<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.kontakanprojects.apptkslb">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.camera" />

    <!--    android:largeHeap="true"-->
    <!--    android:hardwareAccelerated="false"-->

    <application
        android:allowBackup="true"

        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"

        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppTKSLB"
        android:usesCleartextTraffic="true"
        tools:targetApi="m">
        <activity android:name=".view.guru.uploadmateri.uploadsoal.UploadSoalActivity" />
        <activity android:name="com.kontakanprojects.apptkslb.view.guru.uploadmateri.uploadintrosoal.UploadIntroSoalActivity" />
        <activity android:name=".view.guru.GuruActivity" />
        <activity android:name=".view.siswa.SiswaActivity" />
        <activity android:name=".view.splash.SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.auth.AuthActivity" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.kontakanprojects.apptkslb.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_path" />
        </provider>

        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>